.login-card {
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
}

.login-form {
  padding-left: 45px;
  padding-right: 45px;
}

.login-card .btn-primary {
  background-color: #f43899;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.login-card .btn-primary:hover {
  background-color: #d12e81;
}

.login-card p a {
    color: #f43899;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.login-card p a:hover {
    color: #d12e81;
    text-decoration: underline;
}

.form-control:focus {
    border-color: #f43899;
    box-shadow: 0 0 0 0.25rem rgba(244, 56, 153, 0.25);
}