.nav-buttons {
    display: flex;
    gap: 10px;
}

.search-form {
  width: 400px;
}

.search-upload-container {
  display: flex;
  align-items: center;
  gap: 12px;             
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  padding-right: 40px;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #6c757d;
  cursor: pointer;
}

.logo-img {
    width: 250px;
    height: 50px;
}

.upload-button {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

.profile-btn {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  padding: 0;
  background-color: transparent;
  border: transparent;
}

.profile-btn i {
  font-size: 30px; 
  color: #333;
}