.nav-buttons {
    display: flex;
    gap: 10px;
}

.search-form {
  width: 400px;
}

.search-upload-container {
  display: flex;
  align-items: center;
  gap: 40px;             
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  padding-right: 40px;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #6c757d;
  cursor: pointer;
}

.logo-img {
    width: 250px;
    height: 50px;
}

.upload-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 16px; /* Blago smanjen padding da visina bude kao kod logout dugmeta */
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
  background-color: #fff;
  border: 1.1px solid #6c757d;
  border-radius: 6px; 
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-button:hover {
  background-color: #6c757d;
  color: #fff;
  box-shadow: 0 4px 8px rgba(68, 68, 69, 0.2);
  transform: translateY(-1px);
}

.upload-button i {
  font-size: 1.2rem;
}

.profile-btn {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  padding: 0;
  background-color: transparent;
  border: transparent;
}

.profile-btn i {
  font-size: 30px; 
  color: #333;
}