<header>
  <div class="header-content">
    <nav class="navbar navbar-light bg-light shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <img src="assets/logo_name.png" alt="Jutjubic" class="logo-img">
        </a>
        
        <div class="search-upload-container">
          <form class="search-form">
            <div class="search-wrapper">
              <input
                class="form-control search-input"
                type="search"
                placeholder="Search"
                aria-label="Search"
              >
              <i class="bi bi-search search-icon"></i>
            </div>
          </form>
          
          <button class="upload-button" routerLink="/upload" *ngIf="isLoggedIn">
            <i class="bi bi-upload"></i> Upload video
          </button>
        </div>

        <div class="nav-buttons">
          <button class="btn btn-outline-pink" *ngIf="!isLoggedIn" (click)="goToSignUp()">Sign up</button>
          <button class="btn btn-pink" *ngIf="!isLoggedIn" (click)="goToLogin()">Login</button>
          
          <button type="button" class="profile-btn" *ngIf="isLoggedIn" routerLink="/profile">
            <i class="bi bi-person-circle"></i>
          </button>
          
          <button *ngIf="isLoggedIn" type="button" class="btn btn-outline-pink" (click)="logout()">Logout</button>
        </div>
      </div>
    </nav>
  </div>
</header>