.registration-form {
  max-width: 650px;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 15px;
}

form {
  padding-left: 35px;
  padding-right: 35px;
}

row .col {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  display: block;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus, 
.form-control:focus {
    border-color: #f43899 !important;
    box-shadow: 0 0 0 0.25rem rgba(244, 56, 153, 0.25) !important;
    outline: none;
}

.address-row {
  padding-left: 12px;
  padding-right: 12px;
}

.registration-form .btn-primary {
  background-color: #f43899;
  border: none;
  padding: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.registration-form .btn-primary:hover {
  background-color: #d12e81;
}

.registration-form p a {
    color: #f43899;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.registration-form p a:hover {
    color: #d12e81;
    text-decoration: underline;
}