.nav-buttons {
    display: flex;
    gap: 10px;
}

.search-form {
  width: 400px;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  padding-right: 40px;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #6c757d;
  cursor: pointer;
}

.logo-img {
    width: 250px;
    height: 50px;
}